@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportsStore - Login</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet"/>
</head>
<body class="bg-light d-flex justify-content-center align-items-center vh-100">
   

    <div class="card shadow-sm p-4" style="width: 22rem;">
        <h2 class="card-title text-center mb-4">Login</h2>

        <form method="post" asp-controller="Account" asp-action="Login">
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Log In</button>
        </form>
    </div>

</body>
</html>
